@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;800&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --font-color: white;
  --error-color: red;
  --scnd-bgr-color: #ee0612;
  --container-padding: 60px;
  --input-padding: 15px;
  --small-font-size: 14px;
  --medium-font-size: 16px;
  --big-font-size: 20px;
}

body {
  background: url("logos/background.jpg"), #410557;
  overflow: hidden;
  background-size: cover;
  color: var(--font-color);
  font-family: "Poppins", sans-serif;
}

/* styling the background */
section {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  width: 100vw;
}
/* end */

/* styling the glass-like container */
.container {
  position: relative;
  width: 500px;
  z-index: 2;
}
.how-it-works-popup {
  width: 500px;
  background: #fff;
  border-radius: 15px;
  position: absolute;
  top: 0;
  left: 50%;
  z-index: 3;
  color: #333;
  text-align: center;
  transform: scale(0.1);
  padding: 35px;
  visibility: hidden;
  transition: transform 0.4s, top 0.4s;
}
.how-it-works-popup.open-popup {
  visibility: visible;
  transform: scale(1);
  top: 30%;
}
.how-it-works-popup img {
  width: 100px;
  margin-top: -70px;
  border-radius: 50%;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}
ol {
  text-align: start;
}
#br-span{
  text-align: center;
}
.container .face {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  box-shadow: 0 15px 15px rgba(0, 0, 0, 0.5);
  border-radius: 15px;
  background: rgba(255, 255, 255, 0.05);
  backdrop-filter: blur(28px);
  transform-style: preserve-3d;
  transition: 1s;
  backface-visibility: hidden;
  border-top: 1px solid rgba(255, 255, 255, 0.4);
  border-left: 1px solid rgba(255, 255, 255, 0.4);
  border-right: 1px solid rgba(255, 255, 255, 0.2);
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  margin: 0 auto;
  text-align: center;
  padding-top: 30px;
  padding-bottom: 40px;
}

.square {
  position: absolute;
  border-top: 1px solid rgba(255, 255, 255, 0.4);
  border-left: 1px solid rgba(255, 255, 255, 0.4);
  border-right: 1px solid rgba(255, 255, 255, 0.2);
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  background: rgba(255, 255, 255, 0.05);
  backdrop-filter: blur(28px);
  border-radius: 10px;
  animation: animate 10s linear infinite;
  animation-delay: calc(-1s * var(--index));
}

@keyframes animate {
  0%,
  100% {
    transform: translateY(-20px);
  }
  50% {
    transform: translateX(20px);
  }
}
.square:first-child {
  top: -30px;
  right: -60px;
  width: 100px;
  height: 100px;
  --index: 0;
}
.square:nth-child(2) {
  top: 230px;
  left: -100px;
  width: 120px;
  height: 120px;
  z-index: 2;
  --index: 1;
}
.square:nth-child(3) {
  bottom: 50px;
  right: -60px;
  width: 80px;
  height: 80px;
  z-index: 2;
  --index: 2;
}
.square:nth-child(4) {
  bottom: -30px;
  left: -120px;
  width: 50px;
  height: 50px;
  --index: 3;
}
/* end */
h2 {
  text-transform: uppercase;
  font-weight: bold;
  color: var(--scnd-bgr-color);
  letter-spacing: 1px;
  line-height: 1;
  font-size: 30px;
}
a {
  color: var(--scnd-bgr-color);
  cursor: pointer;
  text-decoration: none;
}
/* .slogan-text{
  padding-left: 15px;
  padding-right: 15px;
} */

/* form styling starts here */
#radio-label {
  margin-top: 30px;
  text-align: left;
  padding-left: var(--container-padding);
  font-size: var(--medium-font-size);
  margin-bottom: 5px;
}
/* styling the input that is restricted to one carrier */
.radio-container {
  display: flex;
  color: var(--font-color);
  align-items: center;
  justify-content: space-evenly;
  padding-left: var(--container-padding);
  padding-right: 80px;
  font-size: var(--big-font-size);
}

.number-field-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding-left: var(--container-padding);
  padding-right: var(--container-padding);
  position: relative;
  box-sizing: border-box;
  margin: 10px auto 10px auto;
}

.error-message,
.amnt-error-message {
  color: var(--error-color);
  font-size: var(--small-font-size);
  text-align: left;
}

/* end of restricted input */

/* styling the input that identifies the network carrier */
input {
  width: 100%;
  letter-spacing: 1px;
  font-size: var(--big-font-size);
  padding: var(--input-padding);
  outline: none;
  box-sizing: border-box;
  background: rgba(255, 255, 255, 0.2);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.2);
  border-right: 1px solid rgba(255, 255, 255, 0.2);
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  color: var(--font-color);
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.05);
}
input::placeholder {
  color: #aaa;
}
/* .number-field:invalid {
  border: 1px solid var(--error-color);
  border-radius: 10px;
} */

.carrier-logo {
  width: 80px;
  height: 50px;
  position: absolute;
  top: 2px;
  right: 61px;
  z-index: 99;
  padding: 10px;

  /*   border-radius: 35px; */
}
.carrier-logo.mtn {
  background: url("logos/mtn.png");
}
.carrier-logo.glo {
  background: url("logos/glo.png");
}
.carrier-logo.airtel {
  background: url("logos/airtel.png");
}
.carrier-logo.etisalat {
  background: url("logos/etisalat.png");
  /*   background-color: white; */
}
/* end of the input that identifies mobile networks */

button {
  width: 20%;
  margin-top: 10px;
  margin-right: 20px;
  margin-left: 20px;
  font-size: var(--medium-font-size);
  background-color: var(--scnd-bgr-color);
  outline: none;
  cursor: pointer;
  color: var(--font-color);
  padding: var(--input-padding);
  font-weight: bold;
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.2);
  border-right: 1px solid rgba(255, 255, 255, 0.2);
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.05);
}
button:hover {
  background-color: #d32b34;
}

/* end of form */

/* mobile view */
@media (max-width: 768px) {
  .container {
    width: 100%;
  }
  input,
  #radio-label {
    font-size: var(--small-font-size);
  }
  .radio-container,
  button {
    font-size: var(--medium-font-size);
  }
  .square {
    display: none;
  }
  .how-it-works-popup {
    font-size: var(--small-font-size);
    width: 100%;
    left: 0;
  }
}
